/* body{

    text-align: center;
    color: cadetblue;
    
}
.container{
    position: relative;
    color: gray;
}
.row{
    height: 80px;
} */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    /* border-left: 1px solid black; */
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: cadetblue;
    border-radius: 0;
    border-bottom: 10px solid gray;
    font-family: cursive;
  }
  
  .description{
    white-space: pre-wrap;
    height: 50%;
    width: 100%;
    top: 0%;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    margin: 12px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid grey;
  }
  
  /* #hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  } */
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #054ab3;
    color: white;
    height:50%;
    width: 100%;
  }
  
  /* .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  } */
  i{
      size: 9x;
      color: white;
  }
